<%
	// sit for R0
	var sits;
	if(room === 'r0') {
		sits = new Array(
		new Array(6, 8, 6), 
		new Array(6, 8, 6), 
		new Array(6, 8, 6), 
		new Array(7, 9, 7), 
		new Array(7, 9, 7), 
		new Array(7, 9, 7), 
		new Array(7, 9, 7), 
		new Array(8, 10, 8), 
		new Array(8, 10, 8), 
		new Array(8, 11, 8), 
		new Array(9, 11, 9), 
		new Array(9, 11, 9), 
		new Array(9, 11, 9), 
		new Array(6, 3, 6)
		);
	} else if(room !== 'r3'){
		sits = new Array(
		new Array(7, 5, 7), 
		new Array(7, 5, 7), 
		new Array(7, 6, 7), 
		new Array(7, 7, 7), 
		new Array(7, 7, 7), 
		new Array(4, 8, 4)
		);
	} else {
		sits = new Array(
		new Array(0, 9, 0), 
		new Array(0, 9, 0), 
		new Array(0, 9, 0), 
		new Array(0, 9, 0)
		);
	}
	var numRows = sits.length;
	var counter = 0;

%>

<html>
	<head>
		<title><%= room %>座位表</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/cssload.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/msg_bubble.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/conf_msg.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/irc_bullet.css">
	</head>


	<body onLoad="init()">
		
		<input id="room" type="hidden" value="<%= room %>" />
		<div class="dark-cover">
			
			<div id="floatingCirclesG" class="center-pos">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>
					
		</div>
		

		<!-- header -->
		<div class="row">
			<div class="header" align='center'>
				<h1 class='header-text'><%= conference.name %></h1>
				<% for(var i in conference.subtitle.split(' ')){ %>
					<h1 class='header-text'><%= conference.subtitle.split(' ')[i] %></h1>
				<% } %>
				<h1 class='header-text'>座位表</h1>
			</div>
		</div>

		<div class="meeting-room" align="center">
			<div class="row">
				<div class="stage">
					<p class='stage-text'>講台</p>
					<p>
						<a class="irc-link no-under-line-link" href="http://webchat.freenode.net/?channels=<%= channel %>">IRC Channel</a>
					</p>
				</div>
			</div>
			<% for(var i = 0; i < numRows; i++) { %>

			<div class="row">
				<h1 class="row-title">第 <%= i + 1 %> 排</h1>

				<% if(room !== 'r3') {%>
				<div class="block-area left-block">

					<% for(j=0; j<sits[i][0]; j++) { %>
						<a class="sit" title="空" id="<%= counter %>"></a>
					<% 
						counter++;
					} %>

				</div>
				<% } %>
				
				<div class="block-area center-block">
					
					<% for(j=0; j<sits[i][1]; j++) { %>
						<a class="sit" title="空" id="<%= counter %>"></a>
					<% 
						counter++;
					} %>
					
				</div>
				
				<% if(room !== 'r3') {%>
				<div class="block-area right-block">
					
					<% for(j=0; j<sits[i][2]; j++) { %>
						<a class="sit" title="空" id="<%= counter %>"></a>
					<% 
						counter++;
					} %>
					
				</div>
				<% } %>
			</div><!-- row -->

			<% } %>

		</div><!-- meeting room -->
		
		<% for(var c = 0; c<4; c++) { %>
			<% if('r'+c === room){ %>
				<a class="change-room-btn change-room-btn-selected menu-btn" href='#' style="top: <%= (40+c*10) %>%;">R<%= c %></a>
			<% } else { %>
				<a class="change-room-btn menu-btn" href='/r<%= c %>' style="top: <%= (40+c*10) %>%;">Go to R<%= c %></a>
			<% } %>
		<% } %>
		<a class="help-btn menu-btn" href="#" onclick='help()'>使<br>用<br>說<br>明</a>
		<a id="modify-trigger-btn" class="menu-btn" href="#">修<br>改</a>

		<div class="footer">
			<div class="input-area">
				座位編號：<input type="text" id="sitno" name="sitno" value="" disabled />
			</div>
			<div class="input-area">
				IRC 暱 稱：<input type="text" id="nickname" name="nickname" value="" />
			</div>
			<button id="btn_modify" class="btn btn-modify-sit" onClick="modifySit()">修改</button>
			<button id="btn_clear" class="btn btn-clear-sit" onClick="clearSit()">清空本位</button>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/javascripts/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/javascripts/md5.js"></script>
		<script type="text/javascript" src="/javascripts/st.js"></script>
		<% if(need_help){ %>
			<script type="text/javascript">help()</script>
		<% } %>
		<%= gaScript %>
	</body>


</html>
